* {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 30px;
  background-color: #ffffff;
  color: rgb(45, 45, 45);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.navbar_dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 30px;
  background-color: color-mix(#a4a4a4, #ffffff, 10%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.active {
  color: #ff6600;
  transition: all 0.15s;
}

a {
  display: flex;
  align-items: center;
}

a:hover {
  color: #ff6600;
  transition: all 0.15s;
}